* {
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
}

html {
  visibility: visible;
  opacity: 1;

  font-size: calc(14px + (21 - 14) * (100vw - 480px) / (1300 - 480));
}

body {
  background: black;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  width: 100vw;
}

.hero {
  background-image: url('./src/assets/hero.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;

}

.hero-text {
  display: flex;
  flex-direction: column;

  background: rgb(0, 0, 0);
  background: rgb(0, 0, 0, 0.7);
}

.hero-text h1, h2 {
  color: white;
}

.hero-text h1 {
  font-size: 5rem;
}

.hero-text h2 {
  font-size: 3rem;
}
